@import '../var';

.app-mini-fab.mat-mini-fab {
	margin-top: 15px;
	width: 35px;
	height: 35px;

	&.app-mini-fab--gray {
		background: $main-gray-light;
		box-shadow: none;
	}

	&.app-mini-fab--transparent {
		margin-left: 15px;
		background: none;

		&.mat-mini-fab {
			box-shadow: none;
			font-size: 12px;
		}	

		span.mat-button-wrapper {
			.fa {
		    padding: 0 0 4px 1px;
			}
		}
	}

	// Icon styles
	span.mat-button-wrapper {
		line-height: 20px;

		.fa {
			color: $main-gray-medium;
			font-size: 20px;
		}
	}	
}

